@import '../../styles/variable.scss';
@import 'Cartcount.scss';
@import 'Cartaside.scss';

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.cartMain {
  @include flex(center, null);
  margin-top: 100px;

  .cartContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .cartTitle {
    @include flex(center, center);
    font-size: 35px;
    width: 860px;
  }

  .cartSideContents {
    @include flex(null, center);
    flex-direction: column;
    width: 280px;
    height: 400px;
    margin-top: 135px;
    margin-left: 40px;
    background-color: #f8f8f8;
    border-top: 1px solid black;
    padding-bottom: 30px;
  }
}
