.paymentContents {
  display: flex;
  flex-direction: column;
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  .paymentContentsTitle {
    font-size: 15px;
    line-height: 25px;
  }
  .paymentPoint {
    display: flex;
    align-items: center;
    border: 1px solid #e1dedf;
    font-size: 17px;
    padding-left: 15px;
    margin-top: 15px;
    height: 65px;
  }
  .paymentFinalTitle {
    margin-top: 50px;
    font-size: 15px;
    line-height: 25px;
  }

  .paymentFinal {
    width: 780px;

    &Items {
      border: 1px solid #e1dedf;
      padding: 10px 5px 5px 10px;
      font-size: 16px;
      margin-top: 15px;

      .paymentFinalItemMap {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20px 40px 0 40px;
        overflow: hidden;
        line-height: 40px;

        .list {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e1dedf;
          font-size: 17px;
          color: #555555;

          .paymentFinalItem {
            &Left {
              width: 150px;
            }
            &Weight {
              width: 100px;
            }
            &Count {
              width: 10px;
            }
            &Price {
              width: 100px;
            }
          }
        }
      }

      .totalPriceList {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        background-color: #f7f7f7;
        margin-top: 40px auto 20px auto;

        .totalPrice {
          margin-left: 35px;
          &Name {
            font-size: 15px;
            line-height: 43px;
            color: #9b9b9b;
          }
          &Num {
            font-size: 25px;
            font-weight: bold;
          }
          &Won {
            font-size: 15px;
          }
        }
        .plusIcon {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 50px;
          height: 50px;
          font-size: 30px;
        }
        .totalShippingPrice {
          margin-left: 35px;
          &Name {
            font-size: 15px;
            line-height: 43px;
            color: #9b9b9b;
          }
          &Num {
            font-size: 25px;
            font-weight: bold;
          }
          &Won {
            font-size: 15px;
          }
        }
        .equalIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          font-size: 30px;
        }
        .estimatedAmount {
          margin: 0 35px;
          &Name {
            font-size: 15px;
            line-height: 43px;
            color: #9b9b9b;
          }
          &Num {
            font-size: 25px;
            font-weight: bold;
            color: #d0021b;
          }
          &Won {
            font-size: 15px;
          }
        }
      }
    }
  }
  .shippingInformationTitle {
    margin-top: 50px;
    font-size: 15px;
    line-height: 25px;
    .shippingInformation {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #e1dedf;
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 20px;
      height: 65px;
      letter-spacing: 3px;
      color: #4bb8ce;
    }
  }
}
