.signUp {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25.6px;
    margin-top: 150px;
  }
  img {
    width: 51px;
    height: 45.6px;
    margin: 0px auto;
  }

  .inputContainer {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    margin-bottom: 80px;

    .inputInfo {
      font-size: 15px;
      line-height: 24px;
    }

    .inputBox {
      margin-top: 16px;
      margin-bottom: 34px;
      width: 778px;
      border: 1px solid #e1dedf;
      border-bottom: none;
    }

    .inputLine {
      display: flex;
      overflow: hidden;
      border-bottom: 1px solid #e1dedf;

      .inputData {
        padding-left: 20px;
        width: 179px;
        border-right: 1px solid #e1dedf;
        background-color: #f7f7f7;
        line-height: 68px;
        font-size: 13px;
      }

      .inputWrap {
        height: 80px;
      }
      .inputContent {
        margin-left: 20px;
        margin-top: 13px;
        padding-left: 22px;
        font-size: 18px;
        width: 456px;
        height: 38px;
        border: 1px solid #e1dedf;
      }

      .checkBtn {
        margin: 13px 0 10px 10px;
        padding: 0;
        text-align: center;
        height: 38px;
        border: 1px solid #e1dedf;
        cursor: pointer;
      }

      .errorMessage {
        margin: 8px 0 0 20px;
        font-size: 12px;
        color: red;

        &True {
          color: blue;
        }
      }

      .inputNumber {
        display: flex;
        justify-content: space-between;
        margin: 13px 0 0 20px;
        width: 456px;
        height: 42px;

        .numberIcon {
          font-size: 20px;
          color: gray;
          margin-top: 5px;
        }

        .phoneNumber {
          width: 106px;
          height: 44px;
          border: 1px solid #e1dedf;
          font-size: 13px;
          text-align: center;
        }

        .numberContent {
          width: 100px;
          height: 40px;
          padding: 0;
          border: 1px solid #e1dedf;
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }

  %buttonUI {
    width: 50%;
    height: 60px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  .goToLogin {
    @extend %buttonUI;
    background-color: #888888;
  }

  .goToSignUp {
    @extend %buttonUI;
    background-color: #000000;
  }
}
