.signUp {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25.6px;
    margin-top: 100px;
  }
  img {
    width: 51px;
    height: 45.6px;
    margin: 0px auto;
  }

  .inputContainer {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    margin-bottom: 80px;

    .inputInfo {
      font-size: 15px;
      line-height: 24px;
    }

    .inputBox {
      margin-top: 16px;
      margin-bottom: 34px;
      width: 778px;
      height: 345px;
      border: 1px solid #e1dedf;
      border-bottom: none;
    }

    .inputLine {
      display: flex;
      overflow: hidden;
      border-bottom: 1px solid #e1dedf;

      .inputData {
        padding-left: 20px;
        width: 179px;
        border-right: 1px solid #e1dedf;
        background-color: #f7f7f7;
        line-height: 68px;
        font-size: 13px;
      }

      .inputContent {
        margin-left: 20px;
        margin-top: 15px;
        padding-left: 22px;
        font-size: 13px;
        width: 456px;
        height: 38px;
        border: 1px solid #e1dedf;
      }

      select {
        margin-left: 20px;
        margin-top: 15px;
        font-size: 13px;
        padding-left: 38px;
        width: 142px;
        height: 44px;
        border: 1px solid #e1dedf;
      }

      .numberContent {
        margin-left: 20px;
        margin-top: 15px;
        padding-left: 38px;
        font-size: 13px;
        width: 100px;
        height: 40px;
        border: 1px solid #e1dedf;
      }
    }
  }

  .goToLogin {
    width: 50%;
    height: 60px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #888888;
    cursor: pointer;
  }

  .goToSignUp {
    width: 50%;
    height: 60px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #000000;
    cursor: pointer;
  }
}
